.loading{
    transform: translateY(-50%);
    background-color: transparent;
    color: rgba(22, 24, 35, 0.34);;
}

.loading{
    animation: spinner 0.8s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }